:root {
  --main-bg-color: #46B7B9;
  --topnav-color: #2F9296;
  --topnav-hover-color: rgb(215, 195, 215);
  --text-color: #f2f2f2;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2F9296;
}

body {
  overflow: hidden;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
}

.background {
  background-color: var(--main-bg-color);
  width: 100vw;
  height: 100vh;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: var(--text-color);
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 17px;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--topnav-hover-color);
  color: rgb(0, 0, 0);
}

/* Dropdown Button */
.dropbtn {
  background-color: var(--topnav-hover-color);
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DFF5F2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown .dropbtn {
  background-color: var(--topnav-color);
  color: var(--text-color);
  font-family:'Courier New', Courier, monospace;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #c6e0dd;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--topnav-hover-color);
  color: black;
}